html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: rgb(0, 0, 0);;
    color: white;
    padding: 20px;
}



header img{
    height: 100px;
}

nav {
    margin: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(23, 45, 139);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.menu a:hover {
    background: rgb(70, 98, 124);
    color: white;
}

footer {
    margin-top: auto; /* Para o footer ficar no final da página */
    background: rgb(0, 0, 0);;
    color: white;
    text-align: center;
    padding: 20px;
}