* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 244, 244);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.botoes {
    text-align: center;
    margin-top: 20px;
}

.btn-form {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #3e8e41;
}

footer {
    margin-top: auto; /* Para o footer ficar no final da página */
    background: rgb(0, 0, 0);;
    color: white;
    text-align: center;
    padding: 20px;
}
